.footer__main-container {
  margin: 0 0 90px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .footer__main-container {
    flex-direction: column;
  }
}