.footer__form-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 8px 0;
  max-width: 270px;
}

@media screen and (max-width: 768px) {
  .footer__form-title {
    font-size: 12px;
    line-height: 14px;
  }
}