.reasons__item_type_third {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all .3s ease-in-out;
}

.reasons__item_type_third:hover {
  background-color: #F5F9FD;
}