.reasons__item_type_fifth {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all .3s ease-in-out;
}

.reasons__item_type_fifth:hover {
  background-color: #F5F9FD;
}