.form-block__form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.7fr 1.41fr;
  grid-template-rows: 60px;
  gap: 2px;
}

@media screen and (max-width: 1024px) {
  .form-block__form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 60px);
  }
}

@media screen and (max-width: 768px) {
  .form-block__form {
   width: 100%;
   grid-template-rows: repeat(3, 48px);
  }
}