.countries__main-image {
  background-image: url(../../../images/countries-main-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 290px;
  height: 300px;
  margin: 0 auto auto 0;
}

@media screen and (max-width: 1100px) {
  .countries__main-image {
    background-image: url(../../../images/countries-main-image-adaptive.png);
    width: 247px;
    height: 142px;
    margin-bottom: 25px;
  }
}
