.reviews__button {
  width: 60px;
  height: 60px;
  margin: 0 2px 0 0;
  border-radius: 50%;
}

.reviews__button:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .reviews__button {
    width: 40px;
    height: 40px;
  }
}