.form__checkbox-block {
  display: flex;
  align-items: center;
  background: #DFEFFF;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2px 0;
  height: 37px;
  margin: 0 auto 12px 0;
  width: 284px;
}

@media screen and (max-width: 768px) {
  .form__checkbox-block {
    height: 35px;
  }
}