.emotion__galery-item_type_first {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

@media screen and (max-width: 1024px) {
  .emotion__galery-item_type_first {
    grid-column: 1/ 2;
    grid-row: 1 / 2;
  }
}

@media screen and (max-width: 768px) {
  .emotion__galery-item_type_first {
    grid-column: 1/ 2;
    grid-row: 1 / 2;
  }
}