.search__title {
  max-width: 595px;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
}

@media screen and (max-width: 1024px) {
  .search__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 768px) {
  .search__title {
    font-size: 32px;
    margin-bottom: 12px;
  }
}