.guides__more {
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #E75348;
  margin: auto 0 0;
}

@media screen and (max-width: 768px) {
  .guides__more {
    margin-top: auto;
  }
}