.advantages__subtitle {
  margin: 60px auto 12px 0;
}

@media screen and (max-width: 1280px) {
  .advantages__subtitle {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .advantages__subtitle {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
