.intro {
  width: 100%;
  margin: 0 0 160px 0;
  display: flex;
  background-color: #F5F9FD;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 90px;
  }
}