.programs__price {
  margin: 0 auto 24px 9px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 1024px) {
  .programs__price {
    font-size: 15px;
    margin-bottom: 15px;
  }
}