.header__location {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-decoration: underline;
  margin: 0 16px 0 0;
}

@media screen and (max-width: 768px) {
  .header__location {
    margin-right: 12px;
    font-size: 12px;
    line-height: 14px;
    z-index: 3;
  }
  .header__location.closed {
    z-index: 1;
  }
}