.footer__links-block {
  display: flex;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .footer__links-block {
    margin: 0 auto 32px auto;
  }
}

@media screen and (max-width: 550px) {
  .footer__links-block {
    margin-left: 0;
  }
}