.cards__link {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  color: inherit;
  transition: all .3s ease-in-out;
}

.cards__link:hover {
  background-color: #F5F9FD;
}

@media screen and (max-width: 900px) {
  .cards__link:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .cards__link {
    display: none;
  }
  .cards__link:first-of-type {
    display: flex;
  }
}