.advantages {
  max-width: 1170px;
  margin: 0 auto 160px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .advantages {
    width: 91.5%;
  }
}

@media screen and (max-width: 768px) {
  .advantages {
    width: calc(100% - 20px);
    margin-bottom: 90px;
  }
}