/* Общие стили */
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/text/__accent/text__accent.css);
@import url(../blocks/text/__title/text__title.css);
@import url(../blocks/text/__paragraph/text__paragraph.css);
@import url(../blocks/text/__subtitle/text__subtitle.css);
@import url(../blocks/hover-element/hover-element.css);
@import url(../blocks/input/input.css);

/* Частные стили */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__upper-block/header__upper-block.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__search-block/header__search-block.css);
@import url(../blocks/header/__input/header__input.css);
@import url(../blocks/header/__upper-support/header__upper-support.css);
@import url(../blocks/header/__support-icon/header__support-icon.css);
@import url(../blocks/header/__support-text/header__support-text.css);
@import url(../blocks/header/__login-block/header__login-block.css);
@import url(../blocks/header/__login-text/header__login-text.css);
@import url(../blocks/header/__search-icon/header__search-icon.css);
@import url(../blocks/header/__lower-block/header__lower-block.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__list-item/header__list-item.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__location/header__location.css);
@import url(../blocks/header/__language-block/header__language-block.css);
@import url(../blocks/header/__language-icon/header__language-icon.css);
@import url(../blocks/header/__language/header__language.css);
@import url(../blocks/header/__lower-support/header__lower-support.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__container/intro__container.css);
@import url(../blocks/intro/__title-block/intro__title-block.css);
@import url(../blocks/intro/__text-block/intro__text-block.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);
@import url(../blocks/intro/__image/intro__image.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__checkbox-block/form__checkbox-block.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__label/_direction/form__label_direction_right.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__item/_el/form__item_el_number-of-columns.css);
@import url(../blocks/form/__pseudo-item/form__pseudo-item.css);
@import url(../blocks/form/__pseudo-item/_type/form__pseudo-item_type_radio.css);
@import url(../blocks/form/__search-block/form__search-block.css);

@import url(../blocks/emotion/emotion.css);
@import url(../blocks/emotion/__text-block/emotion__text-block.css);
@import url(../blocks/emotion/__title/emotion__title.css);
@import url(../blocks/emotion/__paragraph/emotion__paragraph.css);
@import url(../blocks/emotion/__galery/emotion__galery.css);
@import url(../blocks/emotion/__galery-item/emotion__galery-item.css);
@import url(../blocks/emotion/__galery-photo/emotion__galery-photo.css);
@import url(../blocks/emotion/__comment/emotion__comment.css);
@import url(../blocks/emotion/__circle/emotion__circle.css);
@import url(../blocks/emotion/__galery-item/_type/emotion__galery-item_type_first.css);
@import url(../blocks/emotion/__galery-item/_type/emotion__galery-item_type_second.css);
@import url(../blocks/emotion/__galery-item/_type/emotion__galery-item_type_third.css);
@import url(../blocks/emotion/__galery-item/_type/emotion__galery-item_type_fourth.css);
@import url(../blocks/emotion/__galery-item/_type/emotion__galery-item_type_fifth.css);

@import url(../blocks/advantages/advantages.css);
@import url(../blocks/advantages/__container/advantages__container.css);
@import url(../blocks/advantages/__title/advantages__title.css);
@import url(../blocks/advantages/__item/advantages__item.css);
@import url(../blocks/advantages/__icon/advantages__icon.css);
@import url(../blocks/advantages/__subtitle/advantages__subtitle.css);
@import url(../blocks/advantages/__paragraph/advantages__paragraph.css);

@import url(../blocks/countries/countries.css);
@import url(../blocks/countries/__main-image/countries__main-image.css);
@import url(../blocks/countries/__container/countries__container.css);
@import url(../blocks/countries/__title/countries__title.css);
@import url(../blocks/countries/__paragraph/countries__paragraph.css);
@import url(../blocks/countries/__logo-block/countries__logo-block.css);
@import url(../blocks/countries/__logo-item/countries__logo-item.css);
@import url(../blocks/countries/__info-block/countries__info-block.css);
@import url(../blocks/countries/__logo-item/_type/countries__logo-item_type_barselona.css);
@import url(../blocks/countries/__logo-item/_type/countries__logo-item_type_department.css);
@import url(../blocks/countries/__logo-item/_type/countries__logo-item_type_turismo.css);
@import url(../blocks/countries/__logo-item/_type/countries__logo-item_type_spain.css);

@import url(../blocks/programs/programs.css);
@import url(../blocks/programs/__text-block/programs__text-block.css);
@import url(../blocks/programs/__title/programs__title.css);
@import url(../blocks/programs/__paragraph/programs__paragraph.css);
@import url(../blocks/programs/__form/programs__form.css);
@import url(../blocks/programs/__select-block/programs__select-block.css);
@import url(../blocks/programs/__select-item/programs__select-item.css);
@import url(../blocks/programs/__submit/programs__submit.css);
@import url(../blocks/programs/__items/programs__items.css);
@import url(../blocks/programs/__item-link/programs__item-link.css);
@import url(../blocks/programs/__item/programs__item.css);
@import url(../blocks/programs/__image/programs__image.css);
@import url(../blocks/programs/__description/programs__description.css);
@import url(../blocks/programs/__subtitle/programs__subtitle.css);
@import url(../blocks/programs/__info/programs__info.css);
@import url(../blocks/programs/__location-block/programs__location-block.css);
@import url(../blocks/programs/__location-icon/programs__location-icon.css);
@import url(../blocks/programs/__location-text/programs__location-text.css);
@import url(../blocks/programs/__age-block/programs__age-block.css);
@import url(../blocks/programs/__price/programs__price.css);
@import url(../blocks/programs/__button/programs__button.css);

@import url(../blocks/reasons/reasons.css);
@import url(../blocks/reasons/__title/reasons__title.css);
@import url(../blocks/reasons/__container/reasons__container.css);
@import url(../blocks/reasons/__item/reasons__item.css);
@import url(../blocks/reasons/__item/_type/reasons__item_type_first.css);
@import url(../blocks/reasons/__item/_type/reasons__item_type_second.css);
@import url(../blocks/reasons/__item/_type/reasons__item_type_third.css);
@import url(../blocks/reasons/__item/_type/reasons__item_type_fourth.css);
@import url(../blocks/reasons/__item/_type/reasons__item_type_fifth.css);
@import url(../blocks/reasons/__number/reasons__number.css);
@import url(../blocks/reasons/__number/_type/reasons__number_type_first.css);
@import url(../blocks/reasons/__number/_type/reasons__number_type_second.css);
@import url(../blocks/reasons/__number/_type/reasons__number_type_third.css);
@import url(../blocks/reasons/__number/_type/reasons__number_type_fourth.css);
@import url(../blocks/reasons/__subtitle/reasons__subtitle.css);
@import url(../blocks/reasons/__paragraph/reasons__paragraph.css);
@import url(../blocks/reasons/__link/reasons__link.css);

@import url(../blocks/reviews/reviews.css);
@import url(../blocks/reviews/__title-block/reviews__title-block.css);
@import url(../blocks/reviews/__text/reviews__text.css);
@import url(../blocks/reviews/__title/reviews__title.css);
@import url(../blocks/reviews/__paragraph/reviews__paragraph.css);
@import url(../blocks/reviews/__buttons/reviews__buttons.css);
@import url(../blocks/reviews/__button/reviews__button.css);
@import url(../blocks/reviews/__button/_type/reviews__bitton_type_left.css);
@import url(../blocks/reviews/__button/_type/reviews__bitton_type_right.css);
@import url(../blocks/reviews/__main-button/reviews__main-button.css);
@import url(../blocks/reviews/__lower-block/reviews__lower-block.css);
@import url(../blocks/reviews/__current-review/reviews__current-review.css);
@import url(../blocks/reviews/__buttons-container/reviews__buttons-container.css);
@import url(../blocks/reviews/__current-item/reviews__current-item.css);
@import url(../blocks/reviews/__current-item/_type/reviews__current-item_type_active.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__link/cards__link.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__title-block/cards__title-block.css);
@import url(../blocks/cards/__rating-block/cards__rating-block.css);
@import url(../blocks/cards/__rating-icon/cards__rating-icon.css);
@import url(../blocks/cards/__rating/cards__rating.css);
@import url(../blocks/cards/__customer/cards__customer.css);
@import url(../blocks/cards/__customer-icon/cards__customer-icon.css);
@import url(../blocks/cards/__customer-name/cards__customer-name.css);
@import url(../blocks/cards/__school/cards__school.css);
@import url(../blocks/cards/__subtitle/cards__subtitle.css);
@import url(../blocks/cards/__paragraph/cards__paragraph.css);
@import url(../blocks/cards/__read-full/cards__read-full.css);

@import url(../blocks/search/search.css);
@import url(../blocks/search/__title-block/search__title-block.css);
@import url(../blocks/search/__image/search__image.css);
@import url(../blocks/search/__title/search__title.css);
@import url(../blocks/search/__upper-text/search__upper-text.css);
@import url(../blocks/search/__lower-text/search__lower-text.css);

@import url(../blocks/form-block/form-block.css);
@import url(../blocks/form-block/__label/form-block__label.css);
@import url(../blocks/form-block/__form/form-block__form.css);
@import url(../blocks/form-block/__input/form-block__input.css);
@import url(../blocks/form-block/__input/_type/form-block__input_type_from.css);
@import url(../blocks/form-block/__input/_type/form-block__input_type_to.css);
@import url(../blocks/form-block/__select/form-block__select.css);
@import url(../blocks/form-block/__submit/form-block__submit.css);
@import url(../blocks/form-block/__select-block/form-block__select-block.css);

@import url(../blocks/guides/guides.css);
@import url(../blocks/guides/__title/guides__title.css);
@import url(../blocks/guides/__cards/guides__cards.css);
@import url(../blocks/guides/__card-link/guides__card-link.css);
@import url(../blocks/guides/__card/guides__card.css);
@import url(../blocks/guides/__image/guides__image.css);
@import url(../blocks/guides/__card-type/guides__card-type.css);
@import url(../blocks/guides/__subtitle/guides__subtitle.css);
@import url(../blocks/guides/__paragraph/guides__paragraph.css);
@import url(../blocks/guides/__more/guides__more.css);
@import url(../blocks/guides/__info/guides__info.css);
@import url(../blocks/guides/__left-block/guides__left-block.css);
@import url(../blocks/guides/__right-block/guides__right-block.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__main-container/footer__main-container.css);
@import url(../blocks/footer/__logo-container/footer__logo-container.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__rights/footer__rights.css);
@import url(../blocks/footer/__rights-text/footer__rights-text.css);
@import url(../blocks/footer/__links-block/footer__links-block.css);
@import url(../blocks/footer/__links-list/footer__links-list.css);
@import url(../blocks/footer/__list-item/footer__list-item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__contacts/footer__contacts.css);
@import url(../blocks/footer/__socials/footer__socials.css);
@import url(../blocks/footer/__socials-link/footer__socials-link.css);
@import url(../blocks/footer/__socials-icon/footer__socials-icon.css);
@import url(../blocks/footer/__mail/footer__mail.css);
@import url(../blocks/footer/__mail-icon/footer__mail-icon.css);
@import url(../blocks/footer/__mail-text/footer__mail-text.css);
@import url(../blocks/footer/__send-offers/footer__send-offers.css);
@import url(../blocks/footer/__form-title/footer__form-title.css);
@import url(../blocks/footer/__form/footer__form.css);
@import url(../blocks/footer/__input/footer__input.css);
@import url(../blocks/footer/__submit/footer__submit.css);
@import url(../blocks/footer/__secondary-container/footer__secondary-container.css);
@import url(../blocks/footer/__payment-icon/footer__payment-icon.css);
@import url(../blocks/footer/__payment-icon/_type/footer__payment-icon_type_visa.css);
@import url(../blocks/footer/__payment-icon/_type/footer__payment-icon_type_mastercard.css);
@import url(../blocks/footer/__policy/footer__policy.css);

