.header__search-icon {
  position: absolute;
  top: 28px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url(../../../images/search-icon.png);
}

@media screen and (max-width: 768px) {
  .header__search-icon {
    top: 20px;
  }
}