.reviews__current-item {
  width: 8px;
  height: 8px;
  border-radius:  50%;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  margin: 0 12px 0 0;
}

.reviews__current-item:last-of-type {
  margin-right: 0;
}

.reviews__current-item:hover {
  cursor: pointer;
}