.guides__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .guides__card {
    grid-template-columns: 140px 1fr;
    grid-template-rows: 102px;
    gap: 20px;
  }
}