.programs__location-block {
  display: flex;
  align-items: center;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  padding: 6px 12px;
  margin-right: 4px;
  box-sizing: border-box;
  height: 28px;
  font-weight: inherit;
  font-size: inherit;
}