.countries__logo-item {
  margin-right: 38px;
  object-fit: contain;
  margin: 0 39px 0 0;
}

.countries__logo-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .countries__logo-item {
    height: 33px;
    margin-right: 15px;
  }
}