.programs__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px 15px 20px 15px;
  border-radius: 20px;
  border: 1px solid #E6E6E6;
  height: 100%;
  transition: all .3s ease-in-out;
}

.programs__item:hover {
  border: 1px solid #E75348;
}

@media screen and (max-width: 768px) {
  .programs__item {
    padding: 15px;
  }
}