.guides {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto 15px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  .guides {
    width: 91.5%;
  }
}

@media screen and (max-width: 768px) {
  .guides {
    width: calc(100% - 20px);
    margin-bottom: 32px;
  }
}